
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

  *{
    font-family: 'Roboto', sans-serif;
  }




   
::-webkit-scrollbar {
  width: 7px;
 }
 
 ::-webkit-scrollbar:hover{
  width:5px
}

::-webkit-scrollbar-track {
  width: 7px;
  border-radius: 3px;
  background-color: transparent;
}
 
/* ::-webkit-scrollbar-thumb {

  border-radius: 3px;


  background-color: #e6cc9f;
} */
 
::-webkit-scrollbar-thumb {
  background: linear-gradient(270deg, #eedec4, #b58867, #e6cc9f);
  width: 7px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 2px;
}
::-webkit-scrollbar-thumb:hover {
  
  background-color: #eedec4;

}
 
/* for Firefox */

body{
  font-family: 'Poppins' ,sans-serif;
  overflow-x: hidden;
}
/* html {scrollbar-color: #9e4673 #3d4a59;}  */